body {
    background: rgb(240,249,255); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.row-6 {
    height:25%;
}
.row-12 {
    height:100%;
}
.trans {
    background: transparent!important;
}
.active {
    z-index: 2;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    opacity: 0.5;
}
.inner_table {
    background-color:transparent!important;
    font-size: small;
}
.root-table {
    font-size: small;
}


table.dataTable span.highlight {
  background-color: #FFFF88;
  border-radius: 0.28571429rem;
}

table.dataTable span.column_highlight {
  background-color: #ffcc99;
  border-radius: 0.28571429rem;
}
